<!DOCTYPE HTML PUBLIC> {# Надо создать базовый шаблон, от которого будут наследоваться все существующие #}
<html> {# там должна быть метаинформация и базовые блоки #}
{# + имя файла не должно содержать больших букв #}
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Обратная связь</title>
</head>

<body>
	{% load static %} {# load как импорт - лучше делать в самом начале, чтоб было видно #}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'GeneralApp/Style.css' %}" />

	<div class="container" align = center>
        <div class = 'col-9' >
            <form method="post">{% csrf_token %} {# если просто вызвать {{ form }} то она довольно не плохо себя отрендерит #}
                <h1 class="display-3">Оставьте Ваши данные</h1>
                <div class="row align-items-center">
                    <div class="col">
                        {{form.Name}}
                    </div>
                    <div class="col">
                        {{form.Email}}
                    </div>
                    <button class = 'btn btn-danger'>Отправить</button>
                </div>
            </form>
        </div>
	</div> {# я поправил табуляцию. Старайся соблюдать это - так на много легче читать #}
           {# + был баг с неверно расположеным закрывающим тегом формы #}

	<div class="home" align = 'center'>
		<h1 class="display-3"><a href="/">Назад</a></h1> {# захардкоженые ссылки - зло. Все урлы должны получаться динамически #}
	</div>


 </body>
</html>
