.section {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.product-item:hover {
    border-color: #28a745;
}

.product-item {
    height: 430px;
    width: 250px;
    background-color: #ffffff;
    border: 1px solid;
    position: relative;
    border-color: #dddddd;
    padding: 5px;
    margin-bottom: 20px;
}

.col {
    margin-top: 20px;
}



.add {
    position: absolute;
    left: 37px;
    bottom: 7px;
}