.img-fluid {
    width: 100%;
    display: block;
}

.footer {
    background-color: #edeef0;
    height: 25px;
}
.bd {
    background-color: #f8f9fa;
    overflow-x: hidden;
}

.wrapper-content {
    min-height: calc(100vh - 25px);
}

.basket-container {
    position: relative;
}

.basket-items {
    position: absolute;
    z-index: 10;
    width: 350px;
    background-color: #f8f9fa;
    padding-top: 16px;
    padding-bottom: 20px;
    display: none;
}

.basket {
    padding-right: 173px;
}