{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<title>{{product.name}}</title>
	<link rel="stylesheet" type="text/css" href='{% static "style_product.css"%}'  />
	<div class = 'content'>
		<div class = 'row'>
			<div class ='image'>
				<div class = 'col'>
					{%for image in product.productimage_set.all%}
					<img src ='{{ image.image.url}}'>
					{%endfor%}
				</div>
			</div>

			<div class ='information'>
				<div class ='col'>
					<h1>{{product.name}}</h1>
				</div>
				<div class = 'col-6'>
					<p>{{product.full_description}}</p>
				</div>
				<div class = 'col'>
					<h6>Цена: {{product.price}} ₽</h6>
				</div>
				<form id = 'form' method="post" class="form-inline">
  					<div class="form-group mb-3">
  						<div class="form-group mx-sm-3 mb-2">
    						<input type="number" min="1" default="1" class="form-control" placeholder="Количество единиц" name = 'number' id='number'>
  						</div>
  						<button type="submit" id = 'submit_btn' class="btn btn-success mb-2"
							data-product_id = '{{product.id}}'
							data-product_name = '{{product.name}}'
							data-product_price = '{{product.price}}'>
							Добавить в корзину
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}