 body {
	 background-image: url(space.jpg);
	 background-size: cover;
}

 .display-3{
	 color: white;
 }

 form{
	 margin-top:1%;
	 margin-right:14px;
 }

 .col-10{
	 margin-top:15%;
	 letter-spacing: 5px;
 }

 .home{
	 margin-right:130px;
 }

 a{
	 text-decoration: none;
	 color:white;
 }
 a:hover{
	 text-decoration: none;
	 color:#dc3545;
        }