        body {
		background-image: url(space.jpg);
        background-size: cover;
		}

		.display-3{color: white;}

		form{
		margin-top:1%;
		margin-right:14px;}

		.btn {
		font-family:Arial Narrow // что-то пропущено
		letter-spacing: 5px;}

		.col-9{
		margin-top:15%;}

		.home{
		margin-right:130px;}

          a{
        text-decoration: none;
        color:white;
        }
        a:hover{
        text-decoration: none;
        color:#dc3545;

        }
/*
	тут в файле все плохо с табуляцией
 */
