<!DOCTYPE HTML PUBLIC>
<html>
	{% load static %}
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'general_app/style.css' %}" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Обратная связь</title>
		<script>
			function redirect(){
			   window.location.href = "/";
			}
			setTimeout(redirect, 2000);
		</script>
	</head>

	<body>
		<div class="container" align = center>
			<div class = 'col-10' >
				<h1 class="display-3">Спасибо</h1>
				<h1 class="display-3">Мы свяжемся с вами</h1>
			</div>
		</div>
	 </body>
</html>