{% extends "base.html" %}
{% block content %}
{% load static %}
<!--пробная страничека в общем-то, нужна была для того, что бы понять как соединить модели, html и базу данных-->
	<body>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'style_feedback.css' %}" />
		<div class="container" align = center>
			<div class = 'col-10' >
				<form method="post">{% csrf_token %}
					<h1 class="display-3">Оставьте Ваши данные</h1>
					<div class="row align-items-center">
						<div class="col">
							{{form.name}}
						</div>
						<div class="col">
							{{form.email}}
						</div>
						<button class = 'btn btn-danger'>Отправить</button>
					</div>
				</form>
			</div>
		</div>
	 </body>
{% endblock %}